<div class="card-panel bg-info border rounded mb-4">
  <h4 class="text-center p-3 text-white">New site</h4>
</div>

<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successfulMessage">
  Galería registrada satisfactoriamente.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form #galleryForm="ngForm" (ngSubmit)="onSubmit(); galleryForm.reset()">
  <div class="form-group">
    <label for="exampleInputText1">Nombre</label>
    <input type="text" class="form-control" id="exampleInputText1" required [(ngModel)]="model.name" name="name" #name="ngModel">
  </div>
  <div class="form-group">
    <label for="exampleInputText1">Ubicacion</label>
    <input type="text" class="form-control" id="exampleInputText1" required [(ngModel)]="model.Ubicacion" name="Ubicacion" #name="ngModel">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Descripción</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required [(ngModel)]="model.description" name="description" #description="ngModel"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Informacion de interes</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required [(ngModel)]="model.infoInterest" name="infoInterest" #infoInterest="ngModel"></textarea>
  </div>

  <div class="row mb-5">
    <div class="col-md-3">
      <img [src]="imageUrl" id="exampleFormControlTextarea1" style="width:250px;height:200px">
    </div>
    <div class="col-md-4">
      <div class="form-group m-auto">
        <label for="exampleFormControlFile1">Imagenes</label>
        <input type="file" (change)="handleFileInput($event.target.files)" class="form-control-file" id="exampleFormControlFile1" multiple required accept="image/*" [(ngModel)]="model.files" name="files" #files="ngModel" (change)="handleFileInput($event.target.files)">
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" [disabled]="!galleryForm.form.valid" class="btn btn-primary mb-5">Guardar</button>
  </div>
</form>
