<div class="card text-center border border-info">
  <div class="card-header">
    <h2 class="card-title">REGION CARIBE</h2>
  </div>
  <div class="card-body">

    
<div class="card" >
  <img class="card-img-top" src="../../assets/image/Cartagena.jpg"  alt="Card image cap" width= "100" height= "250" >
  <div class="card-body">
    <p class="card-text">Nuestro territorio se localiza al norte de Colombia, 
    su principal eje estructurante es el Mar Caribe que baña gran parte de los departamentos de la región. 
    Cuenta con una extensión de 132.270,5 km2 que equivale al 11,6% del territorio nacional,
    el área continental es de 132.218 km2 y la zona insular registra 52,5 km2.</p>
  </div>
</div>
<br>
<form>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="../../assets/image/REGIONES.jpg" alt="Card image cap" width= "36%" height= "36%" >
      <div class="card-body">
        <h5 class="card-title">CULTURA</h5>
        <p class="card-text">Entre las costumbres de la región Caribe en
           Colombia se encuentran el baile de la cumbia, la interpretación del vallenato, comer plátano y pescado frito (Colombia, 2017). La región Caribe
           colombiana se localiza al norte del país, lugar donde limita con el océano Atlántico y el Golfo de Venezuela.</p>
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/image/costumbres-de-la-region-caribe-imagen-destacada.jpg" alt="Card image cap" width= "36%" height= "36%" >
      <div class="card-body">
        <h5 class="card-title">GASTRONOMIA</h5>
        <p class="card-text">En la cocina típica de la región Caribe
           también sobresalen las empanadas, las arepas de maíz (con huevo),
          las carimañolas, el friche y los quibbes, los buñuelos de frijol de cabecita negra, de mazorca y los deditos de queso. 
          También las butifarras, el cayeye y los pasteles.</p>
      
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/image/clima-region-caribe-colombia.jpg" alt="Card image cap" width= "36%" height= "36%">
      <div class="card-body">
        <h5 class="card-title">CLIMATOLOGIA</h5>
        <p class="card-text">El clima de la región Caribe, es tropical, siendo característico
           por presentar temperaturas cálidas todo el año, con una temperatura promedio cercana a los 25 ºC.</p>
      </div>
    </div>
  </div>
</form>






    
  </div>
</div>




 
  
