.example-card {
  max-width: 400px;
  margin: auto;
  margin-bottom: 20px;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}


label {
  font-size: 60px;
}
label{ color:grey;}

input[type = "radio"]{ display:none;}


.clasificacion{
  direction: rtl;/* right to left */
  unicode-bidi: bidi-override;/* bidi de bidireccional */
}
label:hover{color:orange;}
label:hover ~ label{color:orange;}
input[type = "radio"]:checked ~ label{color:orange;}


