<div class="card  shadow-lg p-3 mb-5 bg-white rounded">
  <div class="card-header">
    
<div class="card-panel text-white bg-info  border rounded mb-4" >
  <h3 class="text-center p-3 text-white">SITIOS</h3>
</div>
  </div>
  <div class="card-body">
<div class="row">
  <div class="col-md-6" *ngFor="let site of sites">
  <mat-card class="example-card shadow-lg p-3 mb-5 bg-white rounded" >
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{site.name}}</mat-card-title>
      <mat-card-subtitle>{{site.ubicacion}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{baseUrl}}{{site.imagesPath}}" [alt]="site.imagesPath" alt="Card image cap" width= "150" height= "250">
    <mat-card-content>
      <h6 class="title">Descripcion</h6>
      <p class="">
        {{site.description}}
      </p>
      <h6 class="title">Informacion de interes</h6>
      <p class="">
        {{site.infoInterest}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [matMenuTriggerFor]="menu" ><h3>=</h3></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item data-toggle="modal" data-target="#modalSocial">CALIFICAR</button>
      </mat-menu>
    </mat-card-actions>
  </mat-card>
  </div>
</div>      
</div>
</div>







<!-- Button trigger modal-->
<!--Modal: modalSocial-->
<div class="modal fade" id="modalSocial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title  text-center"><i class="fas fa-users "></i> MI CALIFICACION</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <!--Body-->
      <div class="modal-body mb-0 text-center">
        <form>
          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas" value="5"   ><!--
            --><label for="radio1">★</label><!--
            --><input id="radio2" type="radio" name="estrellas" value="4" ><!--
            --><label for="radio2">★</label><!--
            --><input id="radio3" type="radio" name="estrellas" value="3" ><!--
            --><label for="radio3">★</label><!--
            --><input id="radio4" type="radio" name="estrellas" value="2" ><!--
            --><label for="radio4">★</label><!--
            --><input id="radio5" type="radio" name="estrellas" value="1" ><!--
            --><label for="radio5">★</label>
          </p>
          <div class="form-group">
            <h1 id="nombre" >Nombre</h1>
            <input type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary mb-5" >Guardar</button>
        </form>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalSocial-->






